@use 'typography' as *;
@use 'colors' as *;

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter_18pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter_18pt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter_18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter_18pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.large {
 font-size: $font-size-xxl;
 line-height: $line-height-l;
 font-weight: $font-weight-semi-bold;
}

.h1 {
 font-size: $font-size-xl;
 line-height: $line-height-l;
 font-weight: $font-weight-bold;
}

.h2 {
 font-size: $font-size-l;
 line-height: $line-height-m;
 font-weight: $font-weight-bold;
}

.h3 {
 font-size: $font-size-m;
 line-height: $line-height-m;
 font-weight: $font-weight-semi-bold;
}

.regular-text-16 {
 font-size: $font-size-m;
 line-height: $line-height-m;
 font-weight: $font-weight-regular;
}

.bold-text-16 {
 font-size: $font-size-m;
 line-height: $line-height-m;
 font-weight: $font-weight-bold;
}

.regular-text-14 {
 font-size: $font-size-s;
 line-height: $line-height-m;
 font-weight: $font-weight-regular;
}

.medium-text-14 {
 font-size: $font-size-s;
 line-height: $line-height-m;
 font-weight: $font-weight-medium;
}

.bold-text-14 {
 font-size: $font-size-s;
 line-height: $line-height-m;
 font-weight: $font-weight-bold;
}

.small-text {
 font-size: $font-size-xs;
 line-height: $line-height-s;
 font-weight: $font-weight-regular;
}

.semi-bold-small-text {
 font-size: $font-size-xs;
 line-height: $line-height-s;
 font-weight: $font-weight-semi-bold;
}

.regular-link,
.regular-link:visited {
 color: $Accent-500;
 font-size: $font-size-s;
 line-height: $line-height-m;
 font-weight: $font-weight-regular;
 text-decoration: underline;
}

.small-link,
.small-link:visited {
 color: $Accent-500;
 font-size: $font-size-xs;
 line-height: $line-height-s;
 font-weight: $font-weight-regular;
 text-decoration: underline;
}
